@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap&subset=vietnamese");
body {
  font-family: 'Nunito Sans', sans-serif;
}

a:focus {
  outline: none;
}

.sBanner .image img {
  max-width: 100%;
  width: 100%;
}

.sMainContent {
  padding-top: rem(30);
}

.sMainContent .sStep ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sMainContent .sStep ul li {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 0 20px 0px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.sMainContent .sStep ul li:before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #FB3A20;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -5px;
  z-index: 3;
}

.sMainContent .sStep ul li:after {
  bottom: 0;
  position: absolute;
  content: '';
  left: 50%;
  right: 0;
  background: #FAF2F3;
  height: 2px;
  width: 100%;
  z-index: 2;
}

.sMainContent .sStep ul li span {
  display: block;
  font-size: rem(16);
  font-weight: 500;
  margin-top: rem(10);
}

.sMainContent .sStep ul li:last-child:after {
  display: none;
}

.sBoxSlider {
  padding: rem(50) 0;
}

.sBoxSliderInner {
  margin: 0 rem(-20);
}

.sBoxSliderInner .item {
  padding: 0 rem(20);
}

.sBoxSliderInner .item img {
  max-width: 100%;
}

.page-header h3 {
  font-weight: bold;
  font-size: rem(24);
  line-height: 170%;
  text-transform: uppercase;
  color: #373435;
}
