.sMainContentGray{
    background: #E5E5E5;
    padding:rem(50) 0;
}
.sBanerChildFull{
    position: relative;
    .container{    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;}
    
    img{
        width: 100%;
    }
    .info{
        h4{
            font-weight: 600;
            font-size: rem(16);
            line-height: 170%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        h3{
            font-weight: bold;
            font-size: rem(26);
            line-height: 170%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        a{
            display: inline-block;
        }
    }
}
.page-header-5 {font-weight: bold;
    font-size: rem(18);
    line-height: 170%;
    text-transform: uppercase;
    color: #606062;
    margin:0 0 20px 0;
    span{
        display: inline-block;
        border-bottom: 2px solid #FFD7A9;
        padding:0 0 6px 0;
    }
}
.sMainContentOrg {
    background: #FFFAF4;
    padding:rem(50) 0;
}
.page-header-6{
    font-weight: normal;
    font-size: rem(24);
    text-align: center;
    color: #000000;
}
.v-more-3{
    border: 1px solid #BD192B;
    font-weight: 600;
    font-size: rem(14);
    text-align: center;
    color: #BD192B;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.sFromApply{
    margin: 30px 0 0 0;
    table{
        width: 100%;
        td{
            padding: rem(10) rem(20);
            border-bottom: 1px solid #E3E3E6;
            &:first-child{
                font-weight: bold;
                font-size: rem(18);
            }
        }
    }
}
.infoContact{
    h5{
        font-weight: bold;
        font-size: rem(20);
        color: #373435;
    }
    table{
        max-width: 700px;
        td{
            padding: rem(10) rem(20) rem(10) rem(0); font-size: rem(18);
            &:first-child{
            font-weight: bold;
            color: #FD9C2C;
            }
        }
    }
}
.sBoxList{
    background: #FFFAF4;
    padding: rem(20);
    margin-top: rem(20);
    ul{
        list-style: none;
        padding:0;
        margin: 0;
        li{
            border-bottom: 1px solid #E3E3E6;
            padding-top:rem(10);
            padding-bottom: rem(10);
            position: relative;
            padding-left: rem(20);
            &:before{
                background: #BD192B; 
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                left: 0;
                top: 19px;
                border-radius: 50%;
            }
        }
    }
}
.sContentCarree{
    h3{
        color: #FD9C2C;
        font-size: rem(24);
        & ~ h3{
            margin-top:rem(20)
        }
    }
    ul{
        list-style: none;
        padding:0;
        margin: 0 0 20px 0 ;
        li{
            padding-top:rem(10);
            padding-bottom: rem(10);
            position: relative;
            padding-left: rem(20);
            &:before{
                background: #FD9C2C; 
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                left: 0;
                top: 19px;
                border-radius: 50%;
            }
        } 
    }
    .sCarree01{
        padding-left: 50px;
        margin: 0 0 rem(20) 0;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top:0;
            width: 24px;
            height:24px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.17969 18.581C8.79205 18.581 8.47656 18.2655 8.47656 17.8779C8.47656 17.4895 8.1618 17.1747 7.77344 17.1747C7.38507 17.1747 7.07031 17.4895 7.07031 17.8779C7.07031 18.7972 7.66174 19.5806 8.48407 19.8688V20.4844C8.48407 20.8727 8.79883 21.1875 9.18719 21.1875C9.57556 21.1875 9.89032 20.8727 9.89032 20.4844V19.8636C10.7048 19.5714 11.2891 18.7917 11.2891 17.8779C11.2891 16.7148 10.3428 15.7685 9.17969 15.7685C8.79205 15.7685 8.47656 15.453 8.47656 15.0654C8.47656 14.6776 8.79205 14.3622 9.17969 14.3622C9.56732 14.3622 9.88281 14.6776 9.88281 15.0654C9.88281 15.4537 10.1976 15.7685 10.5859 15.7685C10.9743 15.7685 11.2891 15.4537 11.2891 15.0654C11.2891 14.1515 10.7048 13.3718 9.89032 13.0794V12.0469C9.89032 11.6585 9.57556 11.3438 9.18719 11.3438C8.79883 11.3438 8.48407 11.6585 8.48407 12.0469V13.0743C7.66174 13.3625 7.07031 14.1458 7.07031 15.0654C7.07031 16.2285 8.0166 17.1747 9.17969 17.1747C9.56732 17.1747 9.88281 17.4901 9.88281 17.8779C9.88281 18.2655 9.56732 18.581 9.17969 18.581Z' fill='%23373435'/%3E%3Cpath d='M2.86597 22.8517C4.32916 23.6351 6.33801 24 9.1875 24C11.506 24 13.251 23.7598 14.6067 23.2489C14.994 23.7078 15.5728 24 16.2188 24H21.8906C23.0537 24 24 23.0537 24 21.8906C24 21.3508 23.7958 20.8579 23.4611 20.4844C23.796 20.1108 24 19.6179 24 19.0781C24 18.5383 23.7958 18.0454 23.4611 17.6719C23.796 17.2983 24 16.8054 24 16.2656C24 15.7258 23.7958 15.2329 23.4611 14.8594C23.796 14.4858 24 13.9929 24 13.4531C24 12.29 23.0537 11.3438 21.8906 11.3438H16.2188C16.1503 11.3438 16.0825 11.3472 16.0157 11.3538C15.31 10.4991 14.4831 9.78241 13.572 9.23273C13.9058 8.85956 14.1094 8.36719 14.1094 7.82812C14.1094 6.98785 13.6154 6.26093 12.9025 5.922L14.0748 2.32745C14.1445 2.11322 14.1075 1.87866 13.9753 1.69647C13.843 1.5141 13.6315 1.40625 13.4062 1.40625H11.176C10.8856 0.587769 10.1041 0 9.1875 0C8.27069 0 7.48883 0.587769 7.19861 1.40625H4.96875C4.74353 1.40625 4.53204 1.5141 4.39966 1.69647C4.26746 1.87866 4.23047 2.11322 4.30023 2.32745L5.47247 5.922C4.75964 6.26093 4.26562 6.98785 4.26562 7.82812C4.26562 8.36755 4.46942 8.86029 4.80377 9.23364C1.98267 10.9363 0 14.1702 0 17.6719C0 20.0909 0.964233 21.8335 2.86597 22.8517ZM22.5938 16.2656C22.5938 16.6533 22.2783 16.9688 21.8906 16.9688H16.2188C15.8311 16.9688 15.5156 16.6533 15.5156 16.2656C15.5156 15.878 15.8311 15.5625 16.2188 15.5625H21.8906C22.2783 15.5625 22.5938 15.878 22.5938 16.2656ZM22.5938 19.0781C22.5938 19.4658 22.2783 19.7812 21.8906 19.7812H16.2188C15.8311 19.7812 15.5156 19.4658 15.5156 19.0781C15.5156 18.6905 15.8311 18.375 16.2188 18.375H21.8906C22.2783 18.375 22.5938 18.6905 22.5938 19.0781ZM21.8906 22.5938H16.2188C15.8311 22.5938 15.5156 22.2783 15.5156 21.8906C15.5156 21.503 15.8311 21.1875 16.2188 21.1875H21.8906C22.2783 21.1875 22.5938 21.503 22.5938 21.8906C22.5938 22.2783 22.2783 22.5938 21.8906 22.5938ZM22.5938 13.4531C22.5938 13.8408 22.2783 14.1562 21.8906 14.1562H16.2188C15.8311 14.1562 15.5156 13.8408 15.5156 13.4531C15.5156 13.0655 15.8311 12.75 16.2188 12.75H21.8906C22.2783 12.75 22.5938 13.0655 22.5938 13.4531ZM11.9799 8.53125H6.39532C6.3891 8.53107 6.38287 8.53125 6.37665 8.53125H6.375C5.98737 8.53125 5.67188 8.21576 5.67188 7.82812C5.67188 7.44122 5.98608 7.12628 6.3728 7.12518H6.37482C6.37646 7.12518 6.37811 7.125 6.37976 7.125H11.9951C11.9967 7.125 11.9985 7.12518 12.0002 7.12518H12.0022C12.3889 7.12628 12.7031 7.44122 12.7031 7.82812C12.7031 8.21576 12.3876 8.53125 12 8.53125H11.9978C11.9919 8.53125 11.9859 8.53107 11.9799 8.53125ZM7.78125 2.8125C8.16962 2.8125 8.48438 2.49774 8.48438 2.10938C8.48438 1.72174 8.79987 1.40625 9.1875 1.40625C9.57513 1.40625 9.89062 1.72174 9.89062 2.10938V3.51562C9.89062 3.90399 10.2054 4.21875 10.5938 4.21875C10.9821 4.21875 11.2969 3.90399 11.2969 3.51562V2.8125H12.4374L11.4897 5.71875H6.88531L5.93756 2.8125H7.78125ZM6.51215 9.9375H11.8601C12.9249 10.3823 13.8953 11.0826 14.7047 11.9866C14.3366 12.3666 14.1094 12.8837 14.1094 13.4531C14.1094 13.9929 14.3135 14.4858 14.6483 14.8594C14.3135 15.2329 14.1094 15.7258 14.1094 16.2656C14.1094 16.8054 14.3135 17.2983 14.6483 17.6719C14.3135 18.0454 14.1094 18.5383 14.1094 19.0781C14.1094 19.6179 14.3135 20.1108 14.6483 20.4844C14.3135 20.8579 14.1094 21.3508 14.1094 21.8906C14.1094 21.9051 14.1101 21.9194 14.1105 21.9337C12.921 22.3828 11.3368 22.5938 9.1875 22.5938C6.57861 22.5938 4.7807 22.2817 3.52972 21.6119C2.08099 20.8363 1.40625 19.5844 1.40625 17.6719C1.40625 14.3555 3.49951 11.1951 6.51215 9.9375Z' fill='%23373435'/%3E%3C/svg%3E%0A");
        }
    }
    .sCarreeBox{
        margin: 10px 0 0 0;
        >div{
            padding-left: 50px;
            margin: 0 0 rem(15) 0;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top:0;
                width: 24px;
                height:24px;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.sCarree01{
                &::before{
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.17969 18.581C8.79205 18.581 8.47656 18.2655 8.47656 17.8779C8.47656 17.4895 8.1618 17.1747 7.77344 17.1747C7.38507 17.1747 7.07031 17.4895 7.07031 17.8779C7.07031 18.7972 7.66174 19.5806 8.48407 19.8688V20.4844C8.48407 20.8727 8.79883 21.1875 9.18719 21.1875C9.57556 21.1875 9.89032 20.8727 9.89032 20.4844V19.8636C10.7048 19.5714 11.2891 18.7917 11.2891 17.8779C11.2891 16.7148 10.3428 15.7685 9.17969 15.7685C8.79205 15.7685 8.47656 15.453 8.47656 15.0654C8.47656 14.6776 8.79205 14.3622 9.17969 14.3622C9.56732 14.3622 9.88281 14.6776 9.88281 15.0654C9.88281 15.4537 10.1976 15.7685 10.5859 15.7685C10.9743 15.7685 11.2891 15.4537 11.2891 15.0654C11.2891 14.1515 10.7048 13.3718 9.89032 13.0794V12.0469C9.89032 11.6585 9.57556 11.3438 9.18719 11.3438C8.79883 11.3438 8.48407 11.6585 8.48407 12.0469V13.0743C7.66174 13.3625 7.07031 14.1458 7.07031 15.0654C7.07031 16.2285 8.0166 17.1747 9.17969 17.1747C9.56732 17.1747 9.88281 17.4901 9.88281 17.8779C9.88281 18.2655 9.56732 18.581 9.17969 18.581Z' fill='%23373435'/%3E%3Cpath d='M2.86597 22.8517C4.32916 23.6351 6.33801 24 9.1875 24C11.506 24 13.251 23.7598 14.6067 23.2489C14.994 23.7078 15.5728 24 16.2188 24H21.8906C23.0537 24 24 23.0537 24 21.8906C24 21.3508 23.7958 20.8579 23.4611 20.4844C23.796 20.1108 24 19.6179 24 19.0781C24 18.5383 23.7958 18.0454 23.4611 17.6719C23.796 17.2983 24 16.8054 24 16.2656C24 15.7258 23.7958 15.2329 23.4611 14.8594C23.796 14.4858 24 13.9929 24 13.4531C24 12.29 23.0537 11.3438 21.8906 11.3438H16.2188C16.1503 11.3438 16.0825 11.3472 16.0157 11.3538C15.31 10.4991 14.4831 9.78241 13.572 9.23273C13.9058 8.85956 14.1094 8.36719 14.1094 7.82812C14.1094 6.98785 13.6154 6.26093 12.9025 5.922L14.0748 2.32745C14.1445 2.11322 14.1075 1.87866 13.9753 1.69647C13.843 1.5141 13.6315 1.40625 13.4062 1.40625H11.176C10.8856 0.587769 10.1041 0 9.1875 0C8.27069 0 7.48883 0.587769 7.19861 1.40625H4.96875C4.74353 1.40625 4.53204 1.5141 4.39966 1.69647C4.26746 1.87866 4.23047 2.11322 4.30023 2.32745L5.47247 5.922C4.75964 6.26093 4.26562 6.98785 4.26562 7.82812C4.26562 8.36755 4.46942 8.86029 4.80377 9.23364C1.98267 10.9363 0 14.1702 0 17.6719C0 20.0909 0.964233 21.8335 2.86597 22.8517ZM22.5938 16.2656C22.5938 16.6533 22.2783 16.9688 21.8906 16.9688H16.2188C15.8311 16.9688 15.5156 16.6533 15.5156 16.2656C15.5156 15.878 15.8311 15.5625 16.2188 15.5625H21.8906C22.2783 15.5625 22.5938 15.878 22.5938 16.2656ZM22.5938 19.0781C22.5938 19.4658 22.2783 19.7812 21.8906 19.7812H16.2188C15.8311 19.7812 15.5156 19.4658 15.5156 19.0781C15.5156 18.6905 15.8311 18.375 16.2188 18.375H21.8906C22.2783 18.375 22.5938 18.6905 22.5938 19.0781ZM21.8906 22.5938H16.2188C15.8311 22.5938 15.5156 22.2783 15.5156 21.8906C15.5156 21.503 15.8311 21.1875 16.2188 21.1875H21.8906C22.2783 21.1875 22.5938 21.503 22.5938 21.8906C22.5938 22.2783 22.2783 22.5938 21.8906 22.5938ZM22.5938 13.4531C22.5938 13.8408 22.2783 14.1562 21.8906 14.1562H16.2188C15.8311 14.1562 15.5156 13.8408 15.5156 13.4531C15.5156 13.0655 15.8311 12.75 16.2188 12.75H21.8906C22.2783 12.75 22.5938 13.0655 22.5938 13.4531ZM11.9799 8.53125H6.39532C6.3891 8.53107 6.38287 8.53125 6.37665 8.53125H6.375C5.98737 8.53125 5.67188 8.21576 5.67188 7.82812C5.67188 7.44122 5.98608 7.12628 6.3728 7.12518H6.37482C6.37646 7.12518 6.37811 7.125 6.37976 7.125H11.9951C11.9967 7.125 11.9985 7.12518 12.0002 7.12518H12.0022C12.3889 7.12628 12.7031 7.44122 12.7031 7.82812C12.7031 8.21576 12.3876 8.53125 12 8.53125H11.9978C11.9919 8.53125 11.9859 8.53107 11.9799 8.53125ZM7.78125 2.8125C8.16962 2.8125 8.48438 2.49774 8.48438 2.10938C8.48438 1.72174 8.79987 1.40625 9.1875 1.40625C9.57513 1.40625 9.89062 1.72174 9.89062 2.10938V3.51562C9.89062 3.90399 10.2054 4.21875 10.5938 4.21875C10.9821 4.21875 11.2969 3.90399 11.2969 3.51562V2.8125H12.4374L11.4897 5.71875H6.88531L5.93756 2.8125H7.78125ZM6.51215 9.9375H11.8601C12.9249 10.3823 13.8953 11.0826 14.7047 11.9866C14.3366 12.3666 14.1094 12.8837 14.1094 13.4531C14.1094 13.9929 14.3135 14.4858 14.6483 14.8594C14.3135 15.2329 14.1094 15.7258 14.1094 16.2656C14.1094 16.8054 14.3135 17.2983 14.6483 17.6719C14.3135 18.0454 14.1094 18.5383 14.1094 19.0781C14.1094 19.6179 14.3135 20.1108 14.6483 20.4844C14.3135 20.8579 14.1094 21.3508 14.1094 21.8906C14.1094 21.9051 14.1101 21.9194 14.1105 21.9337C12.921 22.3828 11.3368 22.5938 9.1875 22.5938C6.57861 22.5938 4.7807 22.2817 3.52972 21.6119C2.08099 20.8363 1.40625 19.5844 1.40625 17.6719C1.40625 14.3555 3.49951 11.1951 6.51215 9.9375Z' fill='%23373435'/%3E%3C/svg%3E%0A");
                }
            }
            &.sCarree02{
                &::before{
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 8C19.56 8 20 8.43 20 9C20 9.26522 19.8946 9.51957 19.7071 9.70711C19.5196 9.89464 19.2652 10 19 10C18.43 10 18 9.55 18 9C18 8.43 18.43 8 19 8ZM2 2V11C2 13.96 4.19 16.5 7.14 16.91C7.76 19.92 10.42 22 13.5 22C14.3536 22 15.1988 21.8319 15.9874 21.5052C16.7761 21.1786 17.4926 20.6998 18.0962 20.0962C18.6998 19.4926 19.1786 18.7761 19.5052 17.9874C19.8319 17.1988 20 16.3536 20 15.5V11.81C21.16 11.39 22 10.29 22 9C22 8.20435 21.6839 7.44129 21.1213 6.87868C20.5587 6.31607 19.7956 6 19 6C18.2044 6 17.4413 6.31607 16.8787 6.87868C16.3161 7.44129 16 8.20435 16 9C16 10.29 16.84 11.4 18 11.81V15.41C18 17.91 16 19.91 13.5 19.91C11.5 19.91 9.82 18.7 9.22 16.9C12 16.3 14 13.8 14 11V2H10V5H12V11C12 12.0609 11.5786 13.0783 10.8284 13.8284C10.0783 14.5786 9.06087 15 8 15C6.93913 15 5.92172 14.5786 5.17157 13.8284C4.42143 13.0783 4 12.0609 4 11V5H6V2H2Z' fill='%23373435'/%3E%3C/svg%3E%0A");                }
            }
            &.sCarree03{
                &::before{
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2969 1.73218H20.217C20.2282 1.39105 20.2344 1.04791 20.2344 0.703125C20.2344 0.314758 19.9195 0 19.5313 0H4.46869C4.08051 0 3.76556 0.314758 3.76556 0.703125C3.76556 1.04791 3.77179 1.39105 3.78296 1.73218H0.703125C0.314758 1.73218 0 2.04694 0 2.4353C0 5.58582 0.823425 8.55817 2.31848 10.8051C3.79633 13.0263 5.76489 14.3004 7.89148 14.4243C8.3736 14.9489 8.88318 15.3766 9.414 15.7029V18.828H8.23444C6.80841 18.828 5.64844 19.9882 5.64844 21.414V22.5936H5.59845C5.21008 22.5936 4.89532 22.9085 4.89532 23.2967C4.89532 23.6851 5.21008 23.9998 5.59845 23.9998H18.4016C18.7899 23.9998 19.1047 23.6851 19.1047 23.2967C19.1047 22.9085 18.7899 22.5936 18.4016 22.5936H18.3516V21.414C18.3516 19.9882 17.1916 18.828 15.7656 18.828H14.586V15.7029C15.1168 15.3768 15.6266 14.9489 16.1087 14.4243C18.2351 14.3004 20.2037 13.0263 21.6817 10.8051C23.1768 8.55817 24 5.58582 24 2.4353C24 2.04694 23.6852 1.73218 23.2969 1.73218ZM3.48926 10.0261C2.25604 8.17291 1.53149 5.74896 1.42108 3.13843H3.86151C4.11511 6.34753 4.86841 9.31384 6.04578 11.6684C6.23328 12.0434 6.42938 12.3977 6.63281 12.7313C5.46332 12.2897 4.38098 11.3665 3.48926 10.0261ZM16.9453 21.414V22.5938H7.05469V21.414C7.05469 20.7636 7.58386 20.2343 8.23444 20.2343H15.7656C16.4161 20.2343 16.9453 20.7636 16.9453 21.414ZM13.1797 18.828H10.8203V16.314C11.2068 16.4158 11.6006 16.4687 12 16.4687C12.3994 16.4687 12.7932 16.4158 13.1797 16.314V18.828ZM13.6152 14.6411C13.5835 14.6541 13.5531 14.6699 13.524 14.6873C13.027 14.9344 12.5164 15.0624 12 15.0624C11.4838 15.0624 10.9733 14.9344 10.4766 14.6876C10.4471 14.6699 10.4165 14.6541 10.3845 14.6407C9.83313 14.3492 9.29974 13.9091 8.79529 13.3306C8.76874 13.2927 8.73889 13.2578 8.70575 13.2259C8.20496 12.6313 7.73383 11.9 7.30353 11.0394C6.01135 8.45526 5.26501 5.05737 5.18005 1.40625H18.8199C18.7348 5.05737 17.9885 8.45544 16.6965 11.0394C16.2662 11.9 15.795 12.6313 15.2944 13.2259C15.2611 13.2578 15.2309 13.2929 15.2045 13.3308C14.7001 13.9094 14.1665 14.3494 13.6152 14.6411ZM20.5107 10.0261C19.619 11.3665 18.5367 12.2897 17.3672 12.7313C17.5706 12.3977 17.7667 12.0434 17.9542 11.6684C19.1316 9.31384 19.8847 6.34753 20.1385 3.13843H22.5789C22.4685 5.74896 21.744 8.17291 20.5107 10.0261Z' fill='%23373435'/%3E%3C/svg%3E%0A");                }
            }
        }
    }
   
    
}
.sBoxadd {
    margin-top: 30px;
    .page-header-5{
        font-size:rem(14);
    }
    .infoContact h5{
        font-size: rem(16);
    }
    .infoContact table td{
        font-size: rem(16);
    }
}
.sFormBox{
    background: #F4F4F7;
    padding:rem(40);
    max-width: 770px;
    margin: 0 auto; 
    .form-control {
        border-radius: 0;
        height: 50px;
        background: none;
    }
    label{
        font-weight: bold;
    }
    h4 {
        font-size: rem(18);
        font-weight: bold;
        margin: 0 0 15px 0;
    }
    .custom-file {
        position: relative;
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        margin-bottom: 0;
    }
    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(2.25rem + 2px);
        margin: 0;
        opacity: 0;
    }
    .custom-file-input.is-invalid~.custom-file-label, .was-validated .custom-file-input:invalid~.custom-file-label {
        border-color: #dc3545;
    }
    .custom-file-label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        background: #FFD7A9;
        border-radius: 4px;
    }
    .custom-file-input:lang(en)~.custom-file-label::after {
    }
    // .custom-file-label::after {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 3;
    //     display: block;
    //     height: calc(calc(2.25rem + 2px) - 1px * 2);
    //     padding: .375rem .75rem;
    //     line-height: 1.5;
    //     content: "Upload";
    //     background-color: #f49b31;
    //     border-left: 1px solid #f49b31;
    //     border-radius: 0 .25rem .25rem 0;
    //     color: #fff;
    // }
}
.snote {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
a.btn.btn-primary.btn-btn-apply {
    background: #1C306A;
    border: navajowhite;
    border-radius: 0;
    font-size: 18px;
    width: 215px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}