footer.footer
    .container
        .row
            .col-md-3
                h4 Hỗ trợ khách hàng
                ul
                    li: a(href="#") Hướng dẫn đặt hàng
                    li: a(href="#") Phương thức vận chuyển
                    li: a(href="#") Chính sách đổi trả
            .col-md-3
                h4 Về Gas 24h
                ul
                    li: a(href="#") Giới thiệu
                    li: a(href="#") Tuyển dụng
                    li: a(href="#") Quy chế hoạt động sàn giao dịch
                    li: a(href="#") Chính sách bảo mật thanh toán
                    li: a(href="#") Chính sách bảo mật thông tin cá nhân
                    li: a(href="#") Chính sách giải quyết khiếu nại
                    li: a(href="#") Điều khoản sử dụng
            .col-md-3
                h4 Phương thức thanh toán
                .sPay
                    a(href="#")
                        img(src= imgPath + "icon-viettelpay.png" alt="" )
                    a(href="#")
                        img(src= imgPath + "icon-cash.png" alt="" )
                h4 Đăng kí nhận bản tin
                .sForm
                    input(type="text" placeholder="").form-control
                    button.btn-sm Đăng kí
                p Kết nối với Gas24h
                .sShare 
                    a(href="#"):  img(src= imgPath + "icon-fb.png" alt="" )
                    a(href="#"):  img(src= imgPath + "google-plus.png" alt="" )
                    a(href="#"):  img(src= imgPath + "instagram.png" alt="" )
                    a(href="#"):  img(src= imgPath + "youtube.png" alt="" )
                    a(href="#"):  img(src= imgPath + "icon-zalo.png" alt="" )
            .col-md-3
                h4 Tổng đài gọi Gas 
                .sHotline
                    a(href="tel:+1900 2435") 1900 2435
                .btnDiv
                    p Tải ứng dụng trên điện thoại
                    a(href="#") 
                        img(src= imgPath + "btn-appstore.png" alt="" )
                    a(href="#") 
                        img(src= imgPath + "btn-google.png" alt="" )
        .copyright
            .row
                .col-sm-8 
                    p CÔNG TY CỔ PHẦN DẦU KHÍ MIỀN NAM<br>Mã số thuế: 0304667885 - Cấp ngày: 08/11/2006 - Sở kế hoạch và đầu tư<br>Địa chỉ: 86 Nguyễn Cửu Vân, Phường 17, Quận Bình Thạnh, TP Hồ Chí Minh.
                .col-sm-4.text-right.align-self-center
                     img(src= imgPath + "bo-cong-thuong.png" alt="" )
           
// End Footerz