extends layouts/_layout_default

block setting
    - title = "CÔNG TY CỔ PHẦN DẦU KHÍ MIỀN NAM"
    - mainActive = "home"

block content
    .sMainBread
        .container
            +breadcrumb([{'title':'Bài viết','link':'#'},{'title':'Vì sao bạn nên chọn sử dụng Gas24h: an toàn, đa dạng, bảo hành, đại lý rộng khắp'}])
    .sMainContent
        .container
            .row
                .col-md-7
                    h3.title-page Vì sao bạn nên chọn sử dụng Gas24h: an toàn, đa dạng, bảo hành, đại lý rộng khắp
                    .row.grp-date
                        .col-sm-6
                            .date 12/9/2019
                        .col-sm-6
                            .share
                                label Chia sẻ bài viết: 
                                a(href="#")
                                    i.icon-fb
                                a(href="#")
                                    i.icon-gl
                    .sContent
                        p  Bắt đầu hoạt động từ năm 2006, đến nay Gas24h đã sở hữu bề dày kinh nghiệm 13 năm trong lĩnh vực cung ứng gas và bếp gas uy tín, quy trình khai thác - sản xuất - đóng bình được giám sát nghiêm ngặt, được kiểm duyệt đảm bảo quy chuẩn an toàn Phòng Cháy Chữa Cháy. 
                        figure
                            img(src=imgPath + 'img10.png' alt="")
                            figcaption Ảnh: Nhân viên Gas24h đang trên đường
                        p Bắt đầu hoạt động từ năm 2006, đến nay Gas24h đã sở hữu bề dày kinh nghiệm 13 năm trong lĩnh vực cung ứng gas và bếp gas uy tín, quy trình khai thác - sản xuất - đóng bình được giám sát nghiêm ngặt, được kiểm duyệt đảm bảo quy chuẩn an toàn Phòng Cháy Chữa Cháy. 
                        p An toàn và thân thiện với môi trường, hoàn toàn đảm bảo sức khỏe và tính mạng cho người sử dụng. Đặc biệt, với tư cách là nhà phân phối gas đầu tiên của Việt Nam cung cấp LPG trực tiếp đến tay của người dùng mà không qua một trung gian nào, đảm bảo được giá gas ổn định trên thị trường offline lẫn di động, giúp người dùng an tâm chọn mua sản phẩm từ Gas24h.
                        p Với gói Bảo hiểm toàn diện 10 tỷ đồng cho khách hàng sử dụng sản phẩm cũng như thiết bị gas, mức bồi thường lên đến 1.000.000.000 đồng/vụ khi có sự cố xảy ra, Gas24h xứng đáng nhận được tín nhiệm từ khách hàng. Ngoài ra, chúng tôi hỗ trợ giao hàng và lắp đặt hoàn toàn miễn phí cho khách hàng, đảm bảo sản phẩm và dịch vụ chất lượng đến từng chi tiết nhỏ.
                        figure
                            img(src=imgPath + 'img10.png' alt="")
                            figcaption Ảnh: Nhân viên Gas24h đang trên đường
                        p Bắt đầu hoạt động từ năm 2006, đến nay Gas24h đã sở hữu bề dày kinh nghiệm 13 năm trong lĩnh vực cung ứng gas và bếp gas uy tín, quy trình khai thác - sản xuất - đóng bình được giám sát nghiêm ngặt, được kiểm duyệt đảm bảo quy chuẩn an toàn Phòng Cháy Chữa Cháy. 
                        p An toàn và thân thiện với môi trường, hoàn toàn đảm bảo sức khỏe và tính mạng cho người sử dụng. Đặc biệt, với tư cách là nhà phân phối gas đầu tiên của Việt Nam cung cấp LPG trực tiếp đến tay của người dùng mà không qua một trung gian nào, đảm bảo được giá gas ổn định trên thị trường offline lẫn di động, giúp người dùng an tâm chọn mua sản phẩm từ Gas24h.
                        p Với gói Bảo hiểm toàn diện 10 tỷ đồng cho khách hàng sử dụng sản phẩm cũng như thiết bị gas, mức bồi thường lên đến 1.000.000.000 đồng/vụ khi có sự cố xảy ra, Gas24h xứng đáng nhận được tín nhiệm từ khách hàng. Ngoài ra, chúng tôi hỗ trợ giao hàng và lắp đặt hoàn toàn miễn phí cho khách hàng, đảm bảo sản phẩm và dịch vụ chất lượng đến từng chi tiết nhỏ.
                .col-md-3.ml-auto
                    .page-header-4 Khuyến mãi nổi bật
                    .sNewGrid-2
                        - for (var x = 1; x < 5; x++)
                            .item   
                                .itemWrap      
                                    .image
                                        a(href="#"): img(src=imgPath + 'img08.png' alt="")
                                    .info
                                        h4: a(href="#") Ra mắt ứng dụng Gas24h – Đặt gas chỉ qua một chạm    
                                        .date 12/9/2019 - 15/9/2019
                                        p Nhanh chóng, tiện lợi, trả tiền trực tiếp khi nhận gas, còn được tích lũy tiền cho lần mua sau
                    .page-header-4 Từ khoá nổi bật
                    .sTag
                        a(href="#") Đặt Gas24h
                        a(href="#") Phòng cháy - chữa cháy
                        a(href="#") Tập đoàn Daukhimiennam
                        a(href="#") Ứng dụng đặt Gas
            .page-header-4 Bài viết liên quan
            .sSliderNews.sNewGrid-2
                .sSliderNewsInner2
                    - for (var x = 1; x < 5; x++)
                        .item   
                            .row
                                .image.col-5.imagesmall
                                    a(href="#"): img(src=imgPath + 'img11.png' alt="")
                                .info.col-7.infosmall
                                    h4: a(href="#") Ra mắt ứng dụng Gas24h – Đặt gas chỉ qua một chạm    
                                    .date 12/9/2019 - 15/9/2019
                                    p Nhanh chóng, tiện lợi, trả tiền trực tiếp khi nhận gas, còn được tích lũy tiền cho lần mua sau