extends layouts/_layout_default

block setting
    - title = "CÔNG TY CỔ PHẦN DẦU KHÍ MIỀN NAM"
    - mainActive = "home"

block content
    .sBanerChildFull
        img(src=imgPath + 'banner-2.jpg' alt="")
        .container
            .info
                h4 Cơ hội nghề nghiệp
                h3 Trở thành thành viên trong gia đình GAS24h
                a(href="#").v-more-2 Vị trí tuyển dụng
    .sMainContentGray
        .container
            .page-header-5
                span Giới thiệu Gas24h 
            p Bắt đầu hoạt động từ năm 2006, tính đến nay Gas24h đã sở hữu bề dày kinh nghiệm 13 năm trong lĩnh vực cung ứng gas và bếp gas uy tín, quy trình khai thác – sản xuất – đóng bình được giám sát nghiêm ngặt và đã được kiểm duyệt đảm bảo quy chuẩn an toàn Phòng Cháy Chữa Cháy.
    .sMainContentOrg
        .container
            .page-header-6.text-center Vị trí đang tuyển dụng
            .sFromApply
                table
                    tbody
                        - for (var x = 1; x < 5; x++)
                            tr
                                td Nhân viên điều phối giao hàng
                                td Tp.Hồ Chí Minh
                                td 30/12/2019
                                td: a(href="#").v-more-3 Ứng tuyển
    .sMainContentGray
        .container
            .page-header-5
                span THÔNG tin liên hệ
            .infoContact
                h5 Phòng nhân sự - Công ty cổ phần Dầu Khí Miền Nam
                table
                    tr
                        td Địa chỉ: 
                        td 86 Nguyễn Cửu Vân, Phường 17, Quận Bình Thạnh
                    tr
                        td Điện thoại: 
                        td 028 6294 9650
                    tr
                        td Email: 
                        td tuyendung@spj.vn

